<footer class="footer">
  <a href="#hero">
    <img src="./assets/images/ico-arrow.svg" class="footer__circle-up" />
  </a>
  <ul class="footer__list">
    <li><a href="https://adalab.es" class="footer__links">Zapatillas</a></li>
    <li><a href="https://adalab.es" class="footer__links">Ropa</a></li>
    <li><a href="https://adalab.es" class="footer__links">Niño/a</a></li>
    <li><a href="https://adalab.es" class="footer__links">Destacados</a></li>
    <li><a href="https://adalab.es" class="footer__links">Tips</a></li>
  </ul>
  <ul class="footer__list">
    <li><a href="https://adalab.es" class="footer__links">Twitter</a></li>
    <li><a href="https://adalab.es" class="footer__links">Instagram</a></li>
    <li><a href="https://adalab.es" class="footer__links">Youtube</a></li>
  </ul>
  <div class="copy">
    <p>&copy2023</p>
    <span class="copy__we-love-run">
      <p>we</p>
      <p class="copy__we-love-run-heart">❤︎</p>
      <p>run</p>
    </span>
  </div>
</footer>
