<section id="section2" class="section2">
  <p class="section2__title-top">¡Prepáralos con tus marcas favoritas!</p>
  <h1 class="section2__title">Vuelta al cole</h1>
  <div class="section2__box">
    <div class="box">
      <img
        src="./assets/images/lpbts-mod05-img01-desk.png"
        alt="Imagen de una mochila"
        class="section2_img"
      />
      <p class="section2__subtitle">Mochilas escolares</p>
    </div>
    <div class="box">
      <img
        src="./assets/images/lpbts-mod05-img04-mob.png"
        alt="Imagen de un escuche"
        class="section2_img"
      />
      <p class="section2__subtitle">Estuches</p>
    </div>
    <div class="box">
      <img
        src="./assets/images/lpbts-mod05-img03-mob.png"
        alt="Imagen de una bolsa de deporte"
        class="section2_img"
      />
      <p class="section2__subtitle">Bolsas de deporte</p>
    </div>
  
  <a href="https://adalab.es" class="button-start">Empezar ahora</a>
</section>
</main>
