.footer {
    height: 43.3rem;
    background-color: $color-dark;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3rem;
    align-items: center;
    font-family: $font-regular;

    &__circle-up {
        background-color: white;
        padding: 1rem;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        transform: translateY(-3rem);
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.404);
        
      }
    
    &__list {
        
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        list-style: none;
        line-height: 2.6rem;
        padding-bottom: 2.5rem;
        
    }

    &__links{
        text-decoration: none;
        color: $color-white;
        padding: 1rem;
    }
}

.copy{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    line-height: 2.5rem;

&__we-love-run {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
    &__we-love-run-heart {
        color: $color-dark-green;
    }
}


