.hero{
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 83%;
  width: 100vw;
  height: 100vh;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52rem 4rem 0rem;

  &__title {
      font-family: $font-titles;
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      line-height: 5rem;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.404);
      padding-bottom: 4rem;
      
  }
  &__subtitle {
      font-family: $font-regular;
      font-size: 1.6rem;
      text-align: center;
      padding-bottom: 3rem;
  }
  .circle_down {
    background-color: white;
    background-image: url(../images/ico-scroll-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.4rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
      
  }

}